.button,
.button:visited {
    font-family: "FiraSans";
    width: 200px;
    background-color: #ffffff;
    border: none;
    color: #29B6F6;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 20px 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    cursor: hand;
    outline: none;

}

.button:hover {
    background: #29B6F6;
    color: #ffffff;
}

@font-face {
    font-family: "FiraSans";
    src: url('fonts/FiraSans-Book.ttf') format('truetype');   
}

@font-face {
    font-family: "FiraSans";
    font-weight: strong;
    src: url('fonts/FiraSans-Medium.ttf') format('truetype');   
}

@font-face {
    font-family: "FiraSans";
    font-weight: bold;
    src: url('fonts/FiraSans-Heavy.ttf') format('truetype');   
}

input[type=text] {
    width: 40%;
    background: transparent;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #BDBDBD;
    color: #BDBDBD;
}

input:focus {
    ourline: none;
}

.inputGame::-webkit-input-placeholder {
    font-family: "FiraSans";
    font-size: 22px;
    text-align: center;
}